/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfafa;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: #0a0a0a;
   
}

.container {
    padding: 6px;
    text-align: center;
}


.button-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap:30px;
    
   
}

.profile-icon{
    display:flex;
}
.notification-icon{
    display:flex;
    justify-content: right;
    
}
.shield-icon{
    height: 211px;
    width: 960px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
    padding: 20px;
    background: linear-gradient(to bottom, violet, rgb(238, 238, 3)); /* Light pink */
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background 0.3s ease; /* Transition the entire background */
    margin-bottom: 20px; /* Add gap between buttons */
    box-shadow: 0 6px 10px rgba(153, 151, 153, 0.4); /* Add shadow */
}

.button:hover {
    background-color: #8a888a;
    box-shadow: none;
    transition-delay: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .4s;
}

.button i {
    font-size: 24px;
    margin-bottom: 10px;

}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #911487;
    color: #fff;
    border-radius: 50px;
}

.footer .nav-item {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.footer .nav-item i {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .button-row {
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin-bottom: 20px; /* Ensure gap is consistent on mobile */
    }

    header {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .nav-item {
        margin-bottom: 10px;
    }
}
